/* XL */

@media(max-width:1399px) {
    .container {
        max-width: 1140px;
    }
}

/* LG */

@media(max-width:1199px){
    .container{
        max-width: 960px;
    }
    header nav ul li a{
        font-size: 17px;
    }
    .a_bnr_img img{
        width: 100%;
    }
    .a_about_content p, .a_bnr_content p, .a_doctor_content h4{
        font-size: 20px;
    }
    .a_about_content h2, .a_mission_content h2, .a_bnr_content h3{
        font-size: 50px;
        margin-bottom: 10px;
    }
    .hdr_btn{
        padding: 15px 35px;
    }
    .a_mission_item h3{
        font-size: 35px;
    }
    .a_doctor_content h2{
        font-size: 30px;
    }
    .a_client_img img{
        width: 340px;
    }
    .news_title h2{
        font-size: 45px;
        line-height: 48px;
    }
    .ftr_content p{
        width: 100%;
        margin-top: 15px;
        font-size: 15px;
        line-height: 25px;
    }
}

/* MD */

@media(max-width: 991px){
    .container{
        max-width: 720px;
    }
    .w-md-1{
        width: 100%;
    }
    .w-md-2{
        width: 50%;
    }
    header{
        background-color: white;
    }
    header nav{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: none;
        background-color: #f9f1f1;
        z-index: 99;
    }
    header nav ul {
        flex-direction: column;
    }
    .hdr_btn{
        display: none;
    }
    header nav ul li a::before{
        display: none;
    }
    header nav ul li{
        padding: 10px 0;
    }
    .toggle-menu {
        display: block;
        margin-right: 15px;
    }
    .a_bnr_img img{
        width: 100%;
        margin: 0 auto;
    }
    .a_bnr_content h3{
        font-size: 40px;
        margin-bottom: 15px;
    }
    .a_bnr_content p{
        font-size: 16px;
    }
    .a_about_img img{
        margin: 0 auto;
    }
    .a_about_content{
        text-align: center;
    }
    .a_mission_contact{
        position: static;
        width: 400px;
        margin: 0 auto;
    }
    .a_about_us{
        padding: 60px 0 0 0;
    }
    .a_about_img{
        position: static;
    }
    .a_doctor_content{
        margin-left: 0;
    }
    .a_our_mission{
        padding: 0 0 60px 0;
    }
    .a_about_content h2 , .a_mission_content h2{
        font-size: 40px;
    }
    .a_about_content p{
        font-size: 15px;
        margin: 5px 0;
    }
    .a_our_mission{
        background-position: right;
    }
    .a_mission_content p{
        font-size: 20px;
        line-height: 24px;
    }
    .a_client_img img{
        margin: 0 auto;
        width: 100%;
    }
    .a_mission-item{
        width: 100px;
        height: 160px;
        padding: 28px 10px;
    }
    .a_mission-item h3{
        font-size: 20px;
    }
    .a_our_doctor .container .row .w-30 , .a_our_mission .container .row .w-2{
        order: 2;
    }
    .a_our_doctor .container .row .w-70 , .a_our_mission .container .row .w-2:last-child{
        order: 1;
    }
    .a_our_mission .container .row .w-2:last-child{
        width: 100%;
    }
    .a_mission_content{
        margin-top: 20px;
    }
    .a_mission_content{
        text-align: center;
    }
    .a_mission_inner{
        justify-content: center;
    }
    .a_our_doctor{
        padding: 40px 0;
    }
    .a_client_title h2{
        font-size: 40px;
    }
    .a_client_title h5{
        font-size: 20px;
    }
    .a_client_content p{
        font-size: 20px;
    }
    .news_title h2{
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        margin: 10px 0;
        width: auto;
    }
    .why-choose_title{
        padding: 0 20px;
    }
    .news_content{
        width: auto;
        justify-content: center;
    }
    .news_content button{
       margin: 0;
    }
    .client_title h5{
        width: auto;
    }
    .ftr_content h2{
        font-size: 15px;
    }
    .ftr_item .ftr_content ul li a{
        width: 35px;
        height: 35px;
    }
    .ftr_content p{
        font-size: 12px;
    }
    .ftr_img img , .a_client_img img , .a_client_title h5{
        width: auto;
    }
}

/* SM  */

@media(max-width: 767px){
    .container{
        max-width: 540px;
    }
    .w-sm-1{
        width: 100%;
    }
    .a_banner{
        padding: 165px 0 40px 0;
    }
    .a_mission_item{
        width: 90px;
        height: 120px;
        padding: 10px 20px;
    }
    .a_mission_item h3{
        font-size: 20px;
    }
    .a_mission_content p{
        font-size: 12px;
        line-height: 15px;
    }
    .a_client_title h2 {
        font-size: 25px;
    }
    .a_client_title h5 {
        font-size: 18px;
        padding: 0 40px;
        line-height: 25px;
        font-family: 'EB Garamond';
    }
    .copyright{
        display: block;
        text-align: center;
    }
    .copyright ul{
        justify-content: center;
        margin-top: 5px;
    }
    .ftr_item{
        height: auto;
    }
    .ftr_icon a{
        font-size: 90px;
        bottom: 0;
    }
    .ftr_content p{
        width: auto;
    }
    .ftr_menu ul li a{
        font-size: 15px;
    }
}

@media(max-width:575px){
    .container{
        max-width: 100%;
    }
    .ftr_img img , .a_client_title h5, .a_client_img img{
        width: 100%;
    }
    .a_about_img img, .a_mission_contact{
        width: 100%;
    }
    .ftr_menu ul li a{
        font-size: 12px;
    }
    .ftr_img img{
        width: auto;
    }
}