/* XL */

@media(max-width:1399px) {
    .container {
        max-width: 1140px;
    }
}

/* LG */

@media(max-width:1140px){
    .container{
        max-width: 960px;
    }
}

/* MD */

@media(max-width:991px){
    .container {
        max-width: 720px;
    }
    .w-md-1{
        width: 100%;
    }
    header{
        background-color: white;
    }
    header nav{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: none;
        background-color: #f9f1f1;
        z-index: 99;
    }
    header nav ul {
        flex-direction: column;
    }
    header nav ul li a::before{
        display: none;
    }
    header nav ul li{
        padding: 10px 0;
    }
    .hdr_btn{
        display: none;
    }
    .toggle-menu {
        display: block;
        margin-right: 15px;
    }
    .s_bnr_img img{
        width: 100%;
    }
    .s_bnr_content h1{
        width: auto;
        font-size: 50px;
        line-height: 55px;
    }
    .cosmetic_content h2, .skin_repair_content h2, .enhancement_content h2{
        font-size: 38px;
    }
    .cosmetic_content p, .skin_repair_content p, .enhancement_content p{
        font-size: 16px;
        line-height: 28px;
    }
    .cosmetic_img, .enhancement_img , .skin_repair_img , .cosmetic_img a, .skin_repair_img a, .enhancement_img a{
        width: 100%;
    }
    .cosmetic_content , .enhancement_content{
        padding-right: 10px;
    }
    .skin_repair_content{
        padding-left: 10px;
    }
    .skin_repair::after{
        left: 60%;
    }
    .client_title h2 {
        margin-bottom: 10px;
        font-size: 40px;
    }
    .client_title h5 {
        font-family: 'EB Garamond';
        padding: 0 50px;
        font-size: 25px;
        width: 100%;
    }
    .client_img img{
        width: 100%;
    }
    .client_content {
        padding-left: 35px;
    }
    .client_content h2 {
        font-size: 25px;
    }
    .client_content p {
        font-size: 15px;
    }
    .news_title h2{
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        margin: 10px 0;
        width: auto;
    }
    .news_content{
        width: auto;
        justify-content: center;
    }
    .newsletter{
        padding: 10px 0;
    }
    .news_content button{
       margin: 0;
    }
    .ftr_item{
        height: auto;
    }
    .ftr_img img{
        width: auto;
    }
}

/* SM  */ 

@media(max-width:767px){
    .container{
        max-width: 540px;
    }
    .w-sm-1{
        width: 100%;
    }
    .s_banner{
        padding-bottom: 40px;
    }
    .s_bnr_content h1{
        text-align: center;
        font-size: 40px;
        line-height: 40px;
        padding-top: 20px;
    }
    .s_banner .row .w-2:first-child{
        order: 2;
    }
    .cosmetic_img, .enhancement_img{
        margin: 0 auto;
    }
    .cosmetic_procedure .row .w-2:first-child , .body_enhancement .row .w-2:first-child{
        order: 2;
    }
    .cosmetic_content, .enhancement_content , .skin_repair_content{
        text-align: center;
        margin-top: 20px;
    }
    .client_img img{
        width: 100%;
        margin: 0 auto;
    }
    .newsletter{
        padding: 90px 0 30px 0;
    }
    .form_section{
        width: 100%;
    }
    .copyright{
        display: block;
        text-align: center;
    }
    .copyright ul{
        justify-content: center;
        margin-top: 5px;
    }
    .ftr_content p{
        width: auto;
    }
    .ftr_menu ul li a{
        font-size: 15px;
    }
}

/* XS */

@media(max-width:575px){
    .container{
        max-width: 100%;
    }
    .skin_repair::after{
        left: 0;
    }
    .cosmetic_content h2, .skin_repair_content h2, .enhancement_content h2{
        font-size: 25px;
    }
    .cosmetic_content p, .skin_repair_content p, .enhancement_content p{
        font-size: 13px;
        line-height: 25px;
    }
    .client_title h2{
        font-size: 30px;
    }
    .client_title h5{
        font-size: 15px;
        line-height: 25px;
    }
}

/* XXS */
 
@media(max-width:400px){
    .container{
        max-width: 100%;
    }
    .s_bnr_content h1{
        font-size: 30px;
        line-height: 35px;
    }
    .news_content{
        width: 355px;
    }
    .news_content button{
        font-size: 15px;
        padding: 15px 20px;
    }
    .ftr_menu ul li{
        margin: 0 12px;
    }
    .ftr_menu ul li a{
        font-size: 12px;
    }
}