:root{
    --theme-black:#000;
    --theme-white:#fff;
    --theme-purple:#741349;
    --theme-purple_2:#330000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'EB Garamond';
}
img{
    width: 100%;
    display: block;
    object-fit: cover;
}
a{
    display: inline-block;
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.d-flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.text-center{
    text-align: center;
}
.position-relative{
    position: relative;
}
.w-1{
    width: 100%;
}
.w-2{
    width: 50%;
}
.w-3{
    width: 33.33%;
}
.w-4{
    width: 25%;
}
.w-5{
    width: 20%;
}
.w-30{
    width: 30%;
}
.w-40{
    width: 40%;
}

/* LOADER */

.overlay{
    width: 100%;
    height: 100%;
    background-color: #9bb1af;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader{
    width: 64px;
    height: 64px;
    border: 4px solid #fff;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    animation: loader 3s linear infinite;
}
.loader::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid;
    border-color: #fb2056 transparent; 
    
}
@keyframes loader{
    0%{
        transform: scale(1) rotate(360deg);
    }
    50%{
        transform: scale(.7) rotate(-360deg);
        border-color: #B05A7A;
    }
    100%{
        transform: scale(1) rotate(360deg);
    }
}

/* HEADER  */

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}
header .logo img{
    width: 250px;
}
.toggle-menu{
    font-size: 18px;
    color: rgba(51, 51, 51);
    padding: 10px 15px;
    border-radius: 5px;
    display: none;
    position: absolute;
    right: 0;
}
header nav ul li a{
    color: var(--theme-black);
    font-size: 24px;
    font-weight: 400;
    padding: 0 30px;
}
header nav ul li:nth-child(3) a{
    color: #7f0540;
    font-weight: 600;
}
header nav ul li a::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #acacac;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
}
header nav ul li:nth-child(1) a::before, header nav ul li:nth-child(2) a::before{
    left: 100%;
}
header nav ul li:nth-child(3) a::before{
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #7f0540;
}
.hdr_btn{
    background-color: var(--theme-purple);
    padding: 18px 45px;
    border-radius: 60px;
    font-family: 'Work Sans';
    color: var(--theme-white);
    font-weight: 600;
    font-size: 18px;
}
.hdr_btn i{
    margin-right: 5px;
}
.active{
    background-color: rgba(255, 255, 255);
    position: -webkit-sticky;
    top: 0;
    left: 0;
    right: 0;
    animation: slidedown  0.7s linear;
    z-index: 99;
}

@keyframes slidedown{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0%);
    }
}

/* SERVICE_BANNER */

.s_banner{
    background-color: rgba(116, 19, 73, 0.05);
    padding: 80px 0;
}
.s_bnr_img img{
    width: 550px;
    margin: 0 auto;
}
.s_bnr_content h1{
    color: var(--theme-purple_2);
    font-size: 65px;
    font-weight: 500;
    width: 500px;
}
.s_bnr_content h1::after{
    content: '';
    position: absolute;
    bottom: 150px;
    right: 0;
    width: 250px;
    height: 250px;
    border-radius: 262px;
    opacity: 0.3;
    background: linear-gradient(123deg, #741349 1.68%, #741349 98.86%);
    filter: blur(155px);
}

/* COSMETIC_PROCEDURE & SKIN_REPAIR & BODY ENHANCEMNT */

.cosmetic_procedure , .body_enhancement{
    background-color: rgba(255, 237, 248, 0.5);
    padding: 80px 0;
}
.skin_repair{
    background-color: rgba(255, 255, 255, 0.05);
    padding: 80px 0;
}
.cosmetic_img , .enhancement_img{
    width: 400px;
    margin-left: 100px;
}
.skin_repair_img{
    width: 400px;
    margin: 0 auto;
}
.cosmetic_procedure::after , .skin_repair::after , .body_enhancement::after{
    content: '';
    position: absolute;
    background-image: url(../img/bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 100%;
    transform: rotateX(180deg);
    top: -50px;
    left: -60px;
}
.skin_repair::after{
    bottom: 0;
    left: 80%;
    transform: rotate(180deg);
}
.skin_divider{
    width: 100%;
    height: 100px;
    background-color: #f8f3f6;
}
.cosmetic_content h2 , .skin_repair_content h2 , .enhancement_content h2{
    color: var(--theme-purple_2);
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 15px;
}
.cosmetic_content p , .skin_repair_content p , .enhancement_content p{
    color: #939393;
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}
.cosmetic_img a , .skin_repair_img a , .enhancement_img a{
    background-color: var(--theme-black);
    width: 400px;
    height: 200px;
    border-bottom-left-radius: 400px;
    border-bottom-right-radius: 400px;
    margin-left: auto;
    padding-top: 60px;
}
.cosmetic_img a p , .skin_repair_img a p , .enhancement_img a p{
    color: var(--theme-white);
    font-family: Work Sans;
    font-size: 28px;
    font-weight: 500;
}
/* OUR_CLIENTS */

.our_clients{
    padding: 50px 0;
}
.client_title{
    margin-bottom: 40px;
}
.client_title h2{
    color: var(--theme-purple_2);
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 5px;
}
.client_title h5{
    width: 900px;
    margin: 0 auto;
    color: #676767;
    font-family: 'Work Sans';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}
.client_img img{
    width: 400px;
}
.client_content a{
   color: #F8F3F6;
   font-size: 60px;
   margin-bottom: 15px;
}
.client_content h2{
    color: #1a1a1a;
    font-size: 30px;
    font-family: Work Sans;
    font-weight: 600;
}
.client_content h5{
    color: #8c8c8c;
    font-size: 20px;
    font-family: Work Sans;
    font-weight: 500;
    margin: 5px 0 15px 0;
}
.client_content p{
    color: #1a1a1a;
    font-size: 24px;
    font-family: Work Sans;
    font-weight: 400;
    line-height: 35px;
}
.dctr_btn , .client_btn{
    margin-top: 35px;
}
.client_btn a{
    color: #760B46;
    text-align: center;
    font-size: 17px;
    border: 1px solid #760B46;
    padding: 6px 19px;
    border-radius: 50px;
    font-weight: 400;
    transition: 0.5s all;
}
.client_btn a:hover{
    background-color: #760B46;
    color: var(--theme-white);
}
.client_btn a:last-child{
    color: var(--theme-white);
    background-color: #760B46   ;
}

/* NEWSLETTER */

.newsletter{
    padding: 90px 0;
}
.newsletter:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    background-color: rgba(116, 19, 73, 0.05);
}
.news_title h2{
    color: #222;
    font-size: 55px;
    font-weight: 700;
    line-height: 60px;
    width: 500px;
}
.news_content{
    width: 500px;
    height: 70px;
    border-radius: 110px;
    background-color: #F9F9F9;
}
.news_content a i{
    color: #222222;
    margin: 0 10px 0 25px ;
    font-size: 20px;
    vertical-align: bottom;
}
.news_content input{
    color: #656565;
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 400;
    outline: none;
    border: none;
    background-color: transparent;
}
.news_content button{
    color: var(--theme-white);
    font-size: 16px;
    font-weight: 600;
    background-color: var(--theme-purple);
    cursor: pointer;
    padding: 15px 32px;
    border: none;
    border-radius: 40px;
    margin-left: 110px;
}

/* FOOTER */

.ftr_img img{
    margin: 0 auto;
    width: 350px;
}
.ftr_menu ul{
    justify-content: center;
    margin: 20px 0;
}
.ftr_menu ul li{
    margin: 0 20px;
}
.ftr_menu ul li::after{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #acacac;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 14px;
}
.ftr_menu ul li:last-child::after{
    display: none;
}
.ftr_menu ul li a{
    color: #222222;
    font-size: 24px;
    font-family: Work Sans;
    font-weight: 500;
    letter-spacing: 1.2px;
}
footer .row{
    border-top: 3px solid #F8F3F6;
    border-bottom: 3px solid #F8F3F6;
}
.ftr_item{
    background-color: #fcf0f7;
    margin: 15px;
    padding: 30px;
    height: 250px;
    transition: 0.5s all;
}
.ftr_item .ftr_content ul li a{
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--theme-white);
    background-color: #760b46;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 20px;
    transition: 0.5s all;
}
.ftr_content h2{
    color: #760b46;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 700;
    transition: 0.5s all;
}
.ftr_content p{
    color: #760b46;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    width: 300px;
    margin-top: 30px;
    transition: 0.5s all;
}
.ftr_icon a{
    position: absolute;
    bottom: -20px;
    right: 0;
    font-size: 155px;
    color: #760b46;
    opacity: 0.05;
    transition: 0.5s all;
}
.ftr_item:hover{
    background-color: #760b46;
}
.ftr_item:hover .ftr_content h2 , .ftr_item:hover .ftr_content p{
    color: var(--theme-white);
}
.ftr_item:hover .ftr_content ul li a{
    background-color: var(--theme-white);
    color: #760b46;
}
.ftr_item:hover .ftr_icon a{
    color: var(--theme-white);
}
.copyright{
    margin: 15px 0;
}
.copyright p{
    color: #222222;
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 400;
}
.copyright ul li{
    margin-left: 15px;
}
.copyright ul li a{
    color: #760b46;
    font-size: 20px;
}

/* BACK-TO-TOP */

.back-to-top{
    background-color: rgba(116, 19, 73, 0.3);
    color: var(--theme-purple_2);
    padding: 10px 12px;
    border-radius: 35px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}